<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- myCss.style %>
        <title>NFTapp</title>
</head>

<body>
    <div id="loader" class="center"></div>
    <div class="textArea">
        <h2>Ops! Qualcosa è andato storto. Scusaci il disagio. Stiamo comunque creando il tuo NFT, a breve riceverai una mail di conferma.</h2>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="footerlanding">
        <p>Sisal Envisioning Days</p>
    </div>
</body>

</html>