<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- myCss.style %>
        <title>NFTapp</title>
</head>

<body>
    <div id="loader" class="center"></div>
    <div class="textArea">
        <h2>Hai ricevuto il tuo NFT aggiornato. Puoi trovarlo nella sezione nascosti del tuo account Opensea o importarlo sul tuo wallet Metamask.
            <br>
            Per importarlo segui i seguenti step:<br>
                1.Entra nella sezione "import token"<br>
                2.Compila il form inserendo i seguenti dati:<br>
                    address del contratto: <%=contract%><br>
                    id: <%=id%><br>
            Dovresti essere ora in grado di trovarlo sul tuo wallet. Contattaci in caso di problemi.<br>
        </h2>
        <br>
    </div>
    <div class="textArea">
        <h2>Grazie!</h2>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="footerlanding">
        <p>Sisal Envisioning Days</p>
    </div>
</body>

</html>