<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- myCss.style %>
        <title>NFTapp</title>
</head>

<body>
    <div id="loader" class="center"></div>
    <div class="textArea">
        <h2>Abbiamo modificato il tuo NFT ad attestare la tua partecipazione a questo envisioning.
            <br>Controlla su Metamask per vedere il risultato!
            <br>Grazie!<br>
        </h2>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="footerlanding">
        <p>Sisal Envisioning Days</p>
    </div>
</body>

</html>